<mat-toolbar class="mat-header">

    <a (click)="dash()">StuddyBuddy</a>

    <div style="flex: 1 1 auto;" align="center" class="beta-notice">

        <span>BETA V1.0.0</span>
    </div>

</mat-toolbar>
<mat-sidenav-container class="sidenav-main">
    <mat-sidenav mode="side" opened class="sidenav-drawer">

        <h1 style="margin: 10px;">Notes
            <button id="home" class='icon-button' mat-icon-button matTooltip="Go home" aria-label="Go home"
                (click)="home()"><mat-icon class="large_buttons">home</mat-icon></button>
            <button id="account" class='icon-button' mat-icon-button (click)="accountsMenu()"
                matTooltip="View/Edit account details" aria-label="View/Edit account details"><mat-icon
                    class="large_buttons">account_box</mat-icon></button>
            <button id="add" class='icon-button' mat-icon-button (click)="addSection()" matTooltip="Add notes"
                aria-label="Add notes"><mat-icon class="large_buttons">add</mat-icon></button>
            <button id="logout" class='icon-button' mat-icon-button (click)="logout()" matTooltip="Logout"
                aria-label="Logout"><mat-icon class="large_buttons">logout</mat-icon></button>
            <button id="deleteAccount" class='icon-button' mat-icon-button (click)="delete_user()"
                matTooltip="Delete account" aria-label="Delete account"><mat-icon
                    class="large_buttons">delete</mat-icon></button>
        </h1>
        <p style=" position: absolute; bottom: 100px; left: 0; width: 100%; text-align: center;font-size: 18pt;">Select
            what note you
            would like to study by expanding the above menu.</p>
        <h6 style="  width: 100%; text-align: center;">Currently selected notes: {{curr_selected}}</h6>

        <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor"
            style="background-color: #91a796;">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <button mat-icon-button disabled></button>
                <a (click)="nodePress(node.name)" style="cursor: pointer;" id="baseNode">{{node.name}}</a>
                <button class='delete-notes-icon' mat-icon-button (click)="deleteNode(node.name)"
                    matTooltip="Delete note" aria-label="Delete note"><mat-icon>close</mat-icon></button>
            </mat-tree-node>
            <mat-tree-node id="expandIcon" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
                matTreeNodeToggle>
                <button id="expandIcon-icon" mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon id="expand-icon" class="mat-icon-rtl-mirror">
                        {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.name}}
            </mat-tree-node>
        </mat-tree>
        <br />
    </mat-sidenav>
    <mat-sidenav-content>

        <nav mat-tab-nav-bar mat-stretch-tabs="true" mat-align-tabs="start" [tabPanel]="tabPanel">
            @for (link of links; track link) {
            <a mat-tab-link (click)="activePath = link.path" [active]="link.path == activePath"
                [routerLink]="link.path">
                {{ link.label }}
            </a>
            }
        </nav>
        <mat-tab-nav-panel #tabPanel>
            <router-outlet (activate)="onActivate($event.path)"></router-outlet>
        </mat-tab-nav-panel>

        <router-outlet>
        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>