/.env
/__pycache__
/env

# windsurf rules
.windsurfrules
inDevelopment.py
Backend/env
Backend/.env
linode.txt
Backend/db/users.db
Backend/db/users.db
testing.py
test.JPG
Backend/db/users.db
/Backend/Data
Backend/Data
*.db
*.sqlite3
/Baceknd/db/*.db