<div class="flashcards">
				
    <h2>Flashcards</h2>

    <div class="tp-wrapper">
        <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
            <div class="tp-box__side tp-box__front">{{front}}</div>
            <div class="tp-box__side tp-box__back">{{back}}</div>
            
        </div>
        <div align="center">

            <p>{{card_num}}</p>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="flashcardBack()">
                <mat-icon>arrow_back</mat-icon>
                </button>
                <button mat-icon-button  aria-label="Example icon button with a open in new tab icon" (click)="flashcardNext()">
                <mat-icon>arrow_forward</mat-icon>
                </button>
        </div>
    </div>
</div>
    