.login-card {

    width: 50%;
    justify-content: center;
    background-color: #91a796;

}

.login-card-content {

    display: flex;
    justify-content: center;
}

div {

    padding-top: 20px;
}