.login-card {

    width: 50%;
    justify-content: center;
    background-color: var(--color-surface-alt);

}

.login-card-content {

    display: flex;
    justify-content: center;
}


body,
.login-body {

    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
}

.login-content {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
