<div align="center">

    <mat-card class="login-card">
        <mat-card-content class="login-card-content">


            <form class="form flex flex-center" [formGroup]="loginForm">
                <h3>Log in/Sign up</h3>
                <br/>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="name" matInput formControlName="name">
                    @if (loginForm.get('name')?.hasError('required')) {
                    <mat-error>Name is required</mat-error>
                    }

                </mat-form-field>
                <br />

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    @if (loginForm.get('email')?.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email')) {
                    <mat-error>Invalid email</mat-error>
                    }
                </mat-form-field>
                <br />

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    @if (loginForm.get('password')?.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                    }
                </mat-form-field>
                <br />
                <p style="color: #86440a;">{{error}}</p>
                <br/>
                <button mat-stroked-button (click)="submit()" [disabled]="loginForm.invalid">Log In/Sign Up</button>
                <p>If you do not have an account, we will make a new one for you!</p>
                <br/>
                <br/>
                <!-- <a (click)="changeView()" style="cursor:default; color: blue;"><u>{{account_message}}</u></a> -->
                <!-- <label>Don't have an account? Click here to sign up:</label>
                <mat-checkbox  [checked]="task().completed" (change)="update($event.checked)"></mat-checkbox> -->
            </form>

        </mat-card-content>
    </mat-card>

</div>