<div class="custom-prompt">
    <h2>Result</h2>
    <markdown [data]="result" style="color:#000000;"></markdown>

    <form class="custom-prompt-form" [formGroup]="customPromptForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="prompt-field">
            <mat-label>Type your prompt here</mat-label>
            <textarea matInput formControlName="customPrompt" class="textarea-input" rows="5"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="submit-button">
            Submit
        </button>
    </form>
</div>