.profile-card {

    width: 50%;
    justify-content: center;
    background-color: #8697C4;

}

.profile-card-content {

    display: flex;
    justify-content: center;
}

div {

    padding-top: 20px;
}