<div align="center">
    <mat-card appearance="outlined" class="card">
        <mat-card-content class="card-content">
            <h1>Upload a new set of notes (PDF ONLY) </h1>
            <br />

            <input id="chooseFile" type="file" (change)="onFileSelected($event)"
                accept="application/pdf,image/png,image/jpg" mat-button="elevated" />
            <br />
            <mat-label id="sectionNameLabel">Section Name: </mat-label>
            <input id="sectionName" type="text" [(ngModel)]="sectionName" placeholder="Enter Section Name" />
            <br />
            <mat-checkbox id="handwrittenCheck" class="example-margin"
                (change)="onChange($event.checked)">Check this box if your notes
                are handwritten</mat-checkbox>
            <br />
            <button id="uploadNotes" (click)="onUpload()" [disabled]="!selectedFile"
                mat-button="elevated">Upload</button>
        </mat-card-content>
    </mat-card>
</div>
