mat-card {

    width: 50%;
    justify-content: center;
    background-color: #8697C4;

}

mat-card-content {

    justify-content: center;
}

div {

    padding-top: 20px;
}

.file-upload-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}