.sidenav-main {

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh - 64px);
    background: #87a397;
    position: relative;
}

.sidenav-drawer {

    background-color: #91a796;
    border-radius: 0px !important;
    width: 25%;
    height: 100vh;
}

.mat-header {

    background-color: #a1ad8e;
}

.example-spacer {
    flex: 1 1 auto;
}

.custom-prompt-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

a {

    margin: 10px;
}


.large_buttons {

    transform: scale(2);
    padding: 5%;
}

.mat-tab-group {
    margin-bottom: 48px;
}

h1 {

    font-size: 45px;
}

.delete-notes-icon {

    padding: 0px
}

.beta-notice {

    border-radius: 4px;
    font-size: 0.75em;
    font-weight: bold;
    display: inline-block;
    color: #69140E;
    font-size: 18pt;
}