.sign-up-card {

    width: 50%;
    justify-content: center;
    background-color: var(--color-surface-alt);

}

.sign-up-card-content {

    display: flex;
    justify-content: center;
}

div {

    padding-top: 20px;
}
